 
#Anime, #Manga{
    margin: 5% 2% 2% 2%;

}
.rec_heading{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 5%;
    text-align: center;
}
.row_Two{
    margin-top: 3%;
}