
/********************************/
/*                              */
/*          GLOBAL              */
/*                              */
/*******************************/

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}
a{
    color: whitesmoke;
}

p{
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
}


/********************************/
/*                              */
/*            HERO              */
/*                              */
/*******************************/
.hero{

    display: inline-block;
    height: 500px;
    width: 100%;
    background-color: #171717;
    
}
.hero_row{
    display: flex;
}
.callToAction{
    background-color: #D01257;
    transform: skewX(-20deg);
}

/*_____________________________*/

.headline{
    color: white;
    margin: 5% 0 0 5%;
}
.headline h2{
    font-size: 3rem;
}
.headline button{
    margin-top: 10%;
}
.headline h4{
    
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
}
.accent{
    color:#D01257;
}

/********************************/
/*                              */
/*          COVID-19            */
/*                              */
/*******************************/

#Covid-19{
    background-color: #D01257;
    color: whitesmoke;
    padding-top: 3%;
    padding-bottom: 3%;
}
#Covid-19 a:hover{
    color: whitesmoke;
    cursor: pointer; 
    font-weight: bolder;
}
#Covid-19 h1{
    text-align: center;

}
#Covid-19 p{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Noto Sans JP', sans-serif;
}

/********************************/
/*                              */
/*         ABOUT SECTION        */
/*                              */
/*******************************/

#About{
   
    padding-top: 2%;
    padding-bottom: 5%;
}
#About p{
    display: inline-block;
}

.about_Club{
    margin: 3% 0% 0 0%;
    
}
.about_Header{
    text-align: center;
    font-size: 3rem;
}
.about_subheader{
    text-align: center;
    font-size: 2rem;
}
.subsection{
    margin-top: 5%;
    text-align: center;
}

.what_We_Do{
    margin-top: 10%;
}

/********************************/
/*                              */
/*       GALLERY SECTION        */
/*                              */
/*******************************/

#gallery{
    padding-top: 2%;
    padding-bottom: 5%;
}
.gallery_Header{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.carousel-inner{
    padding-left: 10% ;
    padding-right: 10%;
}
.control_Left{
    padding-left: 10%;
}
.control_Right{
    padding-right: 10%;
}


/********************************/
/*                              */
/*        CONTACT INFO          */
/*                              */
/*******************************/

#contact{
    margin: 15% 5% 0 5%;
    font-family: 'Noto Sans JP', sans-serif;
}
#contact a{
    color: black;
}


/********************************/
/*                              */
/*         CLUB FOOTER          */
/*                              */
/*******************************/

.club_Footer{
    background-color: #3b3f48;
    color: whitesmoke;
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 10%;
    width: 100%;
     
}
.copyright_Statement {
    display: inline-block;
}
.copyright_Statement_Container{
    margin-bottom: 2%;
    text-align: center;
    
}
.copyright_Statement_Container .creator_Link:hover{

    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
   
}
 
.socialMediaContainer{
    color: whitesmoke;
    margin-bottom: 2%;
    padding-left: 37%;
    padding-top: 2%;
}
.socialMediaContainer a{
    color: whitesmoke;
    display: inline-block;
    margin-right: 3%;
    margin-top: 2%;
   
}


/* HOVER STATES FOR EACH OF THE LINKS*/

.socialMediaContainer .facebook:hover{
    color: #4267B2;
    cursor: pointer;
}
.socialMediaContainer .twitter:hover{
    color: #1DA1F2;
    cursor: pointer;
}
.socialMediaContainer .discord:hover{
    color: #7289da;
    cursor: pointer;
}
.socialMediaContainer .fa-instagram:hover{
    color: #F56040;
    cursor: pointer;
    
}
 
